[Desktop Entry]
Version={{VERSION_TAG}}
Type=Application
Name=roscord
Comment=Your space to connect!
Categories=Utility;Amusement;
Icon=chat.commet.commetapp
Exec=commet
Terminal=false
StartupWMClass=chat.commet.commetapp
Actions=ToggleMute;ToggleDeafen;Disconnect
X-KDE-StartupNotify=false
StartupNotify=false

[Desktop Action ToggleMute]
Name=Mute or Unmute
Name[pt_BR]=Silenciar ou dessilenciar
Icon=audio-input-microphone-symbolic
Exec=commet --shortcut toggle_mute
X-KDE-Shortcuts=Alt+M

[Desktop Action ToggleDeafen]
Name=Deafen or Undeafen
Name[pt_BR]=Desativar ou reativar áudio
Icon=audio-headphones-symbolic
Exec=commet --shortcut toggle_deafen

[Desktop Action Disconnect]
Name=Disconnect
Name[pt_BR]=Desconectar
Icon=call-stop-symbolic
Exec=commet --shortcut disconnect
